DOWNLOAD_DIRECTORY = "[your-downloads-or-any-other-folder]"
PRESET_TYPES = ["01. Folder", "02. Image", "03. Document", "04. Project", "05. Application"] # These are some examples, it can be anything that is created, or added in your folder. This is manual at the moment.